---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1>
    Acid Systems
    <br />
    <span class="subtitle"> Autonomous Culture, Intimacy & Dissent</span>
  </h1>
</Layout>

<style>
  h1 {
    font-family: 'serif';
    font-size: 4.2rem;
    letter-spacing: 0.069rem;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subtitle {
    font-family: 'mono';
    font-size: 1.2rem;
    letter-spacing: 0.069rem;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
