---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="center-wrapper">
    <div class="center-block">
      <h1>
        ACID Systems
        <br />
      </h1>
      <div class="subtitle">Archive of Countercultural Intimacy & Dissent</div>
    </div>
  </div>

  <style>
    .center-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .center-block {
      text-align: center;
    }

    h1 {
      font-family: var(--font-serif);
      font-size: 4.2rem;
      letter-spacing: 0.069rem;
    }
    .subtitle {
      font-family: var(--font-mono);
      font-size: 1.2rem;
      letter-spacing: 0.069rem;
    }
  </style>
</Layout>
