---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1>Acid Systems</h1>
</Layout>

<style>
  h1 {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
